* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}

:root {
  --bg-color: black;
  --txt-color: #ffffff;
  --seperation-color: #363636;
  --btn-bg-color: rgba(248, 243, 243, 0.021);
}
body {
  background-color: var(--bg-color);
  color: var(--txt-color);
}
/* Hero Start */
/* Navbar Start */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60vw;
  height: 100px;
  margin: 0 273px;
}
.navbar img {
  width: 130px;
}

.btn {
  padding: 3px 8px;
  margin: 0 1px;
  background-color: var(--bg-color);
  color: var(--txt-color);
  border: 1px solid var(--txt-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s all ease;
}
.btn:hover {
  background-color: red;
  transition: 0.4s all ease;
}

.btn-red {
  background-color: red;
}

.btn-red:hover {
  background-color: var(--bg-color);
}
.hero {
  background-image: url(assets/banner.jpg);
  height: 644px;
  background-position: center center;
  background-size: max(1200px, 100vw);
  position: relative;
  z-index: 1;
}
.box {
  width: 100%;
  height: 644px;
  background-color: black;
  opacity: 0.6;
  position: absolute;

  top: 0;
  z-index: -1;
}
/* Navbar end */
/* Hero-Content start */
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  text-align: center;
  height: calc(100% - 100px);
}
.hero-content h1 {
  font-size: 48px;
}
.hero-content p {
  font-size: 24px;
  font-weight: 500;
}
/* Hero-content end */
/* Hero-wrapper start */
.hero-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
.hero-wrapper input {
  padding: 7px 101px 8px 14px;
  background-color: var(--btn-bg-color);
  border: 1px solid rgb(197, 197, 197);
  border-radius: 4px;
}
.hero-wrapper button {
  font-size: 18px;
  padding: 8px 24px;
}
/* Hero-wrapper end *
/* Hero end */
/* Sepration Start */
.seperation {
  border: 3px solid rgb(54, 54, 54);
}
/* Sepration end*/
/* İnfo Area start */
.info-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 70vw;
  margin: auto;
}
.info-area .text h1 {
  font-size: 48px;
}
.info-area div p {
  font-size: 24px;
  margin-top: 10px;
}
.info-area .secImage {
  position: relative;
  overflow: hidden;
}

.info-area .secImage img {
  position: relative;
  width: 555px;
  z-index: 1;
}
.info-area .secImage video {
  position: absolute;
  top: 50px;
  right: 10px;
}
/* İnfo Area end */
/* faq start */

.faq {
  padding: 35px;
  text-align: center;
}
.faq h2 {
  font-size: 48px;
}
.faq-box {
  background-color: #272727;
  max-width: 60vw;
  margin: 34px auto;
  font-size: 24px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s ease;
}
.faq-box:hover {
  background-color: rgb(23, 23, 23);
}
/* faq end */
/* footer start */
.footer p {
  text-align: center;
  font-size: 25px;
  margin-top: 15px;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  margin: 30px;
  gap: 40px;
  padding-bottom: 50px;
  flex-wrap: wrap;
}
.footer-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-item a {
  color: var(--txt-color);
  font-size: 24px;
}

/* ! Media Quaries  */

@media (max-width: 1000px) {
  .info-area {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
}

@media (max-width: 700px) {
  .info-area .text h1 {
    font-size: 35px;
  }

  .info-area div p {
    font-size: 20px;
  }
  .info-area .secImage img {
    width: 450px;
  }
}
